<div class="subheader">
  <h1>Listing questions</h1> 
  <div class="subheader-search">
    <%= form_tag({:action => 'index'}, :method => :get) do %>
      Search Questions: <%= text_field_tag :title_like %>
    <% end %>
  </div>
  <div id="tabs">
    <% ["newest", "votes", "active", "views"].each do |sort| %>
      <%= link_to sort.capitalize, merge_params(:action => :index, :sorted_by => sort), :class => @sorted_by==sort ? "youarehere" : "" %>
    <% end %>
  </div>

</div>

<div>
  <% @questions.each do |question| %>
    <%= render_cell :question, :summary, :question => question, :excerpt => true %>
  <% end %>
</div>
